ul.ws_css_cb_menu {
	
	width:900px;
	font:bold 13px Arial, Helvetica, sans-serif;
	display:block;
	float: left;
	height:30px;
}
ul.ws_css_cb_menu li {
	display:block;
	margin:2px 0px 0px 2px;
	float:left;
}
ul.ws_css_cb_menu a:hover ul, ul.ws_css_cb_menu a:hover a:hover ul, ul.ws_css_cb_menu a:hover a:hover a:hover ul {
	display:block;
}
ul.ws_css_cb_menu a {
	display:block;
	vertical-align:middle;
	border-width:0px;
	border-color:#6655ff;
	border-style:solid;
	padding:2px;
	_padding-left:0;
	color: #444444;
	text-decoration:none;
	text-align:left;
}
ul.ws_css_cb_menu span {
	overflow:hidden;
}
ul.ws_css_cb_menu li a:hover, ul.ws_css_cb_menu li a {
	padding:9px;
	color:#763319
}
ul.ws_css_cb_menum li a:hover, ul.ws_css_cb_menum li a {
	padding:4px;
	font-weight: normal;
	color: #000
}
ul.ws_css_cb_menu ul {
	position: absolute;
	float:left;	
	border-left:1px solid #d5a000;
	border-bottom:3px solid #d5a000;
	border-right:3px solid #d5a000;
	border-top:0px;
	background-color: #E82E18	
}
ul.ws_css_cb_menu ul ul {
	position: absolute;
	left:0;
	top:-2px;	
	background-color: #E82E18	
}
ul.ws_css_cb_menu, ul.ws_css_cb_menu ul {
	margin:0px;
	list-style:none;
	padding:0px 2px 2px 0px;
	margin-bottom: 1px;
}
ul.ws_css_cb_menu a:active, ul.ws_css_cb_menu a:focus {
	outline-style:none;
}
ul.ws_css_cb_menu ul li {
	float: left;
}
ul.ws_css_cb_menu ul a {
	white-space:nowrap;
	text-align:left;
}
ul.ws_css_cb_menu li:hover {
	
}
ul.ws_css_cb_menu li:hover>a {
	background-color: #E82E18	
	color: #000;
	border-color:#665500;
	border-style:solid;
	text-decoration:none;
}
ul.ws_css_cb_menu li a:hover {
	position:relative;
	background-color: #E82E18	
	color: #000;
	text-decoration:none;
	border-color:#665500;
	border-style:solid;
}
ul.ws_css_cb_menum li a:hover {
	
	background-color: #E82E18	
}
ul.ws_css_cb_menu img {
	border: none;
	float:left;
	
}
ul.ws_css_cb_menu ul img {
	
}
ul.ws_css_cb_menu ul, ul.ws_css_cb_menu a:hover ul ul {
	display:none;
	z-index:99999;
}
ul.ws_css_cb_menu li:hover>ul {
	display:block
}
ul.ws_css_cb_menu span {
	display:block;
	background-position:right center;
	background-repeat: no-repeat;
}
/* CSS for TABLE Tags for IE 6 and Lower START */
ul.ws_css_cb_menu li a table, ul.ws_css_cb_menu li a:hover table {
	border-collapse:collapse;
	margin:-4px 0px 0px -9px;
	border:0px;
	padding:0px;
}
ul.ws_css_cb_menu li a table tr td, ul.ws_css_cb_menu li a:hover table tr td {
	padding:0px;
	border:0px;
}
ul.ws_css_cb_menu li a table ul, ul.ws_css_cb_menu li a:hover table ul {
	border-collapse:collapse;
	padding:0px;
	margin:-4px 0px 0px -9px;
}
ul.ws_css_cb_menu ul span, ul.ws_css_cb_menu a:hover table span {
	
}
ul.ws_css_cb_menu table a:hover span, ul.ws_css_cb_menu table a:hover a:hover span, ul.ws_css_cb_menu table a:hover a:hover a:hover span {
	
}
ul.ws_css_cb_menu table a:hover table span, ul.ws_css_cb_menu table a:hover a:hover table span {

}
/* CSS for TABLE Tags for IE 6 and Lower END */
/* CSS for All the Menus END */

/* Video Menu Starts - Our Second Menu, by using the above class - this is just to change the colors and the height, width of the menu */
ul.videoCssMenu {
	font-size: 13px;
	background-color:#E82E18;
	border:0px;
	color:#fff;
	border: 1px solid #dcdcdc;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
ul.videoCssMenu .videoMenuTitleImage {
	margin: -2px 0px 0px -2px;
	width:79px;
	height:30px;
}
ul.videoCssMenu ul {
	left:5px;
	background-color: #fff;
	width:898px;
	border-left:0px;
	border-bottom:1px solid #fff;
	border-right:3px solid #fff;
}
ul.videoCssMenu li a {
	padding:5px !important;
	color:#fff;
	background: url("../images/MenuSeparator.png") no-repeat;
	background-position: right;
}
ul.videoCssMenu ul li a {
	color: #E82E18;
}
ul.videoCssMenu ul li {
	float: left;
	height: 27px;
	background: url("../images/MenuSeparator.png") no-repeat;
	background-position: right;
}


ul.videoCssMenu li:hover>a, ul.videoCssMenu li a:hover {
	background-color:#fff;
	border-color:#fff;
	padding:6px !important;
	color:#E82E18;
}
ul.videoCssMenu li ul li:hover>a, ul.videoCssMenu li ul li a:hover {
	border-color:#fff;
	padding:5px;
	color:#962d2d;
}