#dhtmltooltip {
    position: absolute;
    width: 150px;
    border: 1px solid #f0f0f0;
    padding: 2px;
    background-color: lightyellow;
    visibility: hidden;
    z-index: 100;
    /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
    filter: progid : DXImageTransform.Microsoft.Shadow ( color = gray, direction = 135 );
}
