body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main {
    width: 100%;
    height: 100%
}

table.bordered {
    border: 1px solid #9f9f9f;
}

table.form thead th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #9f9f9f;
    font-size: 125%;
}

.errorMsg {
    color: #ff0000;
}

.infoMsg {
    color: #009010;
}
