label {
    display: block;
    font-weight: bold;
    margin-top: 4px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

th {
    background: #e7e6e6; /*url(images/button.jpg) repeat-x;*/
    height: 29px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    border-left: 1px solid #f4f4f4;
    border-bottom: solid 2px #fff;
    color: #333;
    font-weight: bold;
}

tr {
    height: 30px;
}

td {
    padding-left: 11px;
    padding-right: 11px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

td.first,th.first {
    border-left: 0px;
}

tr,tr.row-a {
    background: #F8F8F8;
}

tr.row-b {
    background: #EFEFEF;
}

button[type=submit] {
    font-weight: bold !important;
}

.input-medium {
    width: 400px;
}

.input-large {
    width: 512px;
}

.input-xlarge {
    width: 680px;
}

.button-medium {
    width: 96px !important;
}

.heading {
    border-bottom: 1px solid #9f9f9f;
    padding-bottom: 2px;
}

.viewport-480 {
    width: 400px;
}

.viewport-640 {
    width: 560px;
}

.viewport-800 {
    width: 720px;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.errorMsg {
    color: #ff0000;
}

.infoMsg {
    color: #009010;
}

.new {
    color: #ff0000;
    text-decoration: blink;
}

.hot {
    color: #009010;
}
